@font-face {
  font-family: Inter;
  src: url(@/assets/fonts/Inter/static/Inter_18pt-Regular.ttf), format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(@/assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf), format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(@/assets/fonts/Roboto/Roboto-Regular.ttf), format('ttf');
  font-style: normal;
  font-display: swap;
}
