@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf'), format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('@/assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf'), format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
