:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f8;
  --bg-brand: #9534d2;
  --bg-disabled: #f3f4f6;

  --text-primary: #141c24;
  --text-secondary: #344051;
  --text-tertiary: #637083;
  --text-quaternary: #97a1af;
  --text-invert: #ffffff;

  --indicator-light: #ced2da;
  --indicator-medium: #97a1af;
  --indicator-extralight: #e3e5e5;
  --indicator-attention: #ffb219;

  --brand: #712d9c;
}
